AWS_REGION=eu-north-1
BEDROCK_MODEL_ID=eu.anthropic.claude-haiku-4-5-20251001-v1:0
AWS_BEARER_TOKEN_BEDROCK=your-bedrock-api-key-here
TAVILY_API_KEY=your-tavily-api-key-here
S3_BUCKET_NAME=s3-cody-bucket
